# Base style
BasedOnStyle: Google 

# Basic formatting
IndentWidth: 2
ColumnLimit: 80
UseTab: Never


# Options you specifically requested
# AlignAfterOpenBracket: Align
# AlignConsecutiveAssignments: true 
# AlignConsecutiveDeclarations: false 
# AllowShortBlocksOnASingleLine: true
# Cpp11BracedListStyle: true
# FixNamespaceComments: true
# IncludeBlocks: Regroup
# SortIncludes: true